.game-field{
    display: block;
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    &__inner{
        position: relative;
        overflow: hidden;
    }
    &__bg{
        position: absolute;
        width: calc(100% - 44px);
        height: calc(100% - 44px);
        top: 22px;
        left: 22px;
        z-index: 0;
        opacity: .6;
    }
    &__table{
        position: relative;
        width: 100%;
        max-width: 988px;
        margin: 40px auto;
        background-repeat: no-repeat;
        background-size: cover;
        &::after{
            content: '';
            display: block;
            width: 100%;
            padding-bottom: 57%;
        }
    }
    &.begin-game,
    &.freeze-game,
    &.end-game{
        .game-field__overlay{
            background-color: rgba(0,0,0,.72);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9;
            transition: opacity .23s ease;
        }
    }
    &__modal{
        position: absolute;
        z-index: 10;
        top: calc(50% - 144px);
        left: calc(50% - 240px);
        width: 480px;
        height: 288px;
        &.game-field__modal--freeze{
            height: 208px;
            top: calc(50% - 104px);
        }
        &-header{
            position: relative;
            font-family: "Solomon Sans";
            font-size: 23px;
            font-weight: 700;
            color: white;
            text-shadow: 0.5px 0.9px 2px rgba(0, 0, 0, 0.35) ;
            text-transform: uppercase;
            text-align: center;
            height: 40px;
            line-height: 40px;
            background-size: calc(100% + 8px) calc(100% + 8px);
            background-repeat: no-repeat;
            background-color: #2190b8;
            background-position: -7px -7px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            
        }
        .close{
            width: 28px;
            height: 28px;
            line-height: 1;
            font-size: 28px;
            color: #ffd927;
            font-weight: 700;
            text-align: center;
            position: absolute;
            top: calc(50% - 14px);
            right: 8px;
            background-color: #0d374f;
            border-radius: 2px;
            margin: 0;
            padding: 0;
            text-shadow: 0 0 2px #ffd927;
            &:hover{
                cursor: pointer;
            }
        }
        &-body{
            display: flex;
            flex-flow: row wrap;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: #0d374f;
            height: calc(100% - 32px);
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 4px;
            &-left{
                width: 272px;
                height: 100%;
                padding-right: 4px;
            }
            &-users-status{
                display: block;
                width: 100%;
                font-size: 15px;
                font-family: "Solomon Sans";
                font-weight: 700;
                color: white;
                text-align: center;
                height: 34px;
                line-height: 34px;
                background-size: cover;
                text-transform: uppercase;
            }
            &-user-list{
                display: block;
                margin-top: 4px;
                height: calc(100% - 38px);
                background-size: 101% 100%;
                background-repeat: no-repeat;
                background-position: -3px 0;
                ul{
                    display: flex;
                    flex-flow: row wrap;
                    align-items: stretch;
                    height: 100%;
                    padding-left: 0;
                    padding-bottom: 5px;
                    list-style: none;
                }
                li{
                    flex: 1 1 100%;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    padding: 4px 0;
                    position: relative;
                    height: calc(100% / 6);
                    &:not(:last-child)::after{
                        content: '';
                        position: absolute;
                        height: 1px;
                        width: 92%;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: #165b7b;
                    }
                    .user-name{
                        flex: 1;
                        margin: 0;
                        line-height: 1.1;
                        padding-left: 16px;
                        padding-right: 16px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        font-size: 14px;
                        font-weight: 600;
                        color: white;

                    }
                    .user-status{
                        margin-right: 16px;
                        width: 96px;
                        height: 24px;
                        background-color: #ffd927;
                        font-size: 12px;
                        font-weight: 700;
                        color: #7f5500;
                        text-transform: uppercase;
                        text-align: center;
                        line-height: 24px;
                        border-radius: 4px;
                        box-shadow: 0 0 5px rgba(0, 0, 0, .9);
                        transition: opacity .23s ease;
                        opacity: 0;
                    }
                    &.in-game{
                        .user-status{
                            opacity: 1;
                        }
                    }
                    &:first-child{
                        .user-name{
                            color: #ffd616;
                        }
                        .user-status{
                            display: none;
                        }
                    }
                }
            }
            &-right{
                flex: 1;
                height: 100px;
            }
            &-bet{
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                height: 100px;
                background-size: 101% 100%;
                background-repeat: no-repeat;
                line-height: 1.2;
                .white{
                    font-size: 20px;
                    font-weight: 700;
                    color: white;
                    text-transform: uppercase;
                    display: block;
                }
                .yellow{
                    font-size: 17px;
                    font-weight: 700;
                    color: #ffda2e;
                    display: block;
                }
            }
            &-btns{
                padding: 8px 8px 6px;
                background-repeat: no-repeat;
                background-size: 100% 99%;
                .btn{
                    margin-bottom: 8px;
                }
            } 
            &-table{
                height: calc(100% - 40px);
                width: 100%;
                background-size: cover;
                background-position: 0 33px;
                background-repeat: no-repeat;
                border-collapse: collapse;
                th{
                    font-size: 15px;
                    font-family: "Solomon Sans";
                    font-weight: 700;
                    color: white;
                    text-align: center;
                    height: 34px;
                    line-height: 34px;
                    background-size: calc(100% - 1px) 30px;
                    background-position: 2px 2px;
                    background-repeat: no-repeat;
                    border-radius: 4px;
                    overflow: hidden;
                    text-transform: uppercase;
                }
                tr{
                    td{
                        text-align: center;
                        font-size: 14px;
                        font-weight: 600;
                        color: white;
                        border: 1px solid #165b7b;
                        &:first-child{
                            border-left: none;
                        }
                        &:last-child{
                            border-right: none;
                        }
                    }
                    &:nth-child(2){
                        td{
                            color: #ffd616;
                            border-top: none;
                        }
                    }
                }
                &-btns{
                    display: block;
                    width: 100%;
                    .btn{
                        width: 49.5%;
                        box-shadow: none;
                        background:  0% 0% / 100% 100% no-repeat;
                        text-transform: uppercase;
                        text-shadow: none;
                        &:first-child{
                            color: white;
                            &:hover{
                                color: red;
                            }
                        }
                        &:last-child{
                            margin-left: 1%;
                            color: #ffd616;
                            &:hover{
                                color: red;
                            }
                        }
                        &::before,
                        &::after{
                            content: none;
                        }
                        &.--full{
                            width: 100%;
                            margin: 0;
                        }
                    }
                }
            }
            &--freeze{
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                min-height: 108px;
                width: 100%;
                font-size: 17px;
                line-height: 1.5;
                color: white;
                font-weight: 700;
                text-shadow: 2px 2px 9px rgba(black, .75);
                text-transform: uppercase;
                background-size: cover;
                background: 0% 0% / 100% 100% no-repeat;
            }
        }
    }
    &.--durak{
        min-width: 667px;
        .game-field__inner{
            background-color: #0d374f;
        }
        .game-field__bg{
            background-repeat: repeat;
            background-size: 10%;
        }
    }
}
.users-block{
    position: absolute;
    &.users-block--left{
        left: -2vw;
        @media screen and (max-width: 1280px){
            left: .5vw;
        }
    }
    &.users-block--top{
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        width: 188px;
    }
    &.users-block--right{
        right: -2vw;
        @media screen and (max-width: 1280px) {
            right: .5vw;
        }
    }
    &.users-block--left,
    &.users-block--right{
        top: 15%;
        display: flex;
        width: 188px;
        min-height: 220px;
        align-items: center;
        flex-flow: column wrap;
    }
}
.user-item{
    width: 100%;
    &__cards{
        display: block;
        width: 120px;
        height: 50px;
        margin-bottom: 4px;
        .users-block--left &,
        .users-block--top &{
            margin-left: auto;
        }
        .users-block--right &{
            margin-right: auto;
        }
    }
    &__data{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        &-img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            box-shadow: 0 0 8px rgba(black, .8);
            border: 2px solid #1c4b60;
            background-color: #061c28;
            position: relative;
            .users-block--right &{
                order: 100;
            }
            .active &{
                border-color: #ffd800;
                box-shadow: 0 0 20px rgba(#ffd800, .8);
            }
        }
        &-userpick{
            width: 48px;
            height: 48px;
            position: absolute;
            top: calc(50% - 24px);
            left: calc(50% - 24px);
            border: 3px solid #fff;
            border-radius: 50%;
        }
        &-text{
            flex: 1;
            width: 140px;
            height: 48px;
            padding:0 20px;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            background: #0d374f url(../img/blocks/header/bg--account.png) 50% 50% / 100% 100% no-repeat;
            margin-left: -20px;
            font-family: "Solomon Sans";
            font-weight: 700;
            line-height: 1.3;
            color: white;
            text-align: center;
            .users-block--right &{
                margin-left: 0px;
                margin-right: -20px;
            }
        }
        &-name{
            font-size: 14px;
            display: block;
            width: 100%;
        }
        &-rate{
            font-size: 11px;
            display: block;
            width: 100%;
            .yellow{
                color: #ffda2e;
            }
        }
    }
   
}


.gamer{
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    &__info{
        width: 100%;
        max-width: 488px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        &-img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            box-shadow: 0 0 8px rgba(black, .8);
            border: 2px solid #1c4b60;
            background-color: #061c28;
            position: relative;
            z-index: 1;
            @media screen and (max-width: 980px) {
                width: 60px;
                height: 60px;
                margin-right: 9px;
            }
            &::before{
                content: '';
                position: absolute;
                width: calc(100% + 10px);
                height: calc(100% + 10px);
                top: -5px;
                left: -5px;
                z-index: -1;
                border-radius: 50%;
                transition: opacity .233s ease;
                opacity: 0;
            }
            &::after{
                content:'';
                transition: opacity .233s ease;
                opacity: 0;
                position: absolute;
                z-index:0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: #061c28;
            }
            .active &::before{
                background-image: linear-gradient(to bottom, #ff9702 0%,#ffd800 51%,#ffb400 100%);
                box-shadow: 0 0 20px 6px rgba(#ffd800, .7);
            }
            .is-freeze &::before{ 
                background-color: #feffff;
                box-shadow: 0 0 20px 6px rgba(#feffff, .7);
            }
            .active &::before,
            .active &::after,
            .is-freeze &::before,
            .is-freeze &::after{
                opacity: 1;
            }
        }
        &-userpick{
            width: 62px;
            height: 62px;
            position: absolute;
            top: calc(50% - 31px);
            left: calc(50% - 31px);
            z-index: 3;
            border: 3px solid #fff;
            border-radius: 50%;
            background-color: rgba(#feffff, .6);
            @media screen and (max-width: 980px) {
                width: 46px;
                height: 46px;
                top: calc(50% - 23px);
                left: calc(50% - 23px);
            }
            img{
                opacity: 1;
                transition: opacity .23s;
                .is-freeze &{
                    opacity: .8;
                }
            }
            
            
        }
        &-data{
            width: 176px;
            height: 60px;
            padding: 0 25px;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            background: #0d374f url(../img/blocks/header/bg--account.png) 50% 50% / 100% 100% no-repeat;
            margin-left: -20px;
            font-family: "Solomon Sans";
            font-weight: 700;
            line-height: 1.3;
            color: white;
            text-align: center;
            @media screen and (max-width: 980px) {
                width: 100px;
                padding: 0 10px;
                height: 40px;
            }
            &-name{
                font-size: 19px; -size: 19px;
                display: block;
                width: 100%;
                @media screen and (max-width: 980px) {
                   font-size: 10px;
                }
            }
            &-rate{
                font-size: 15px;
                display: block;
                width: 100%;
                @media screen and (max-width: 980px) {
                    font-size: 10px;
                }
                .yellow{
                    color: #ffda2e;
                }
            }
        }
        &-inner{
            background-color: #0d374f;
            display: flex;
            flex-flow: row wrap;
            position: relative;
            z-index: 0;
            &::after{
               content: '';
               position: absolute;
               width: calc(100% + 20px);
               height: 100%;
               top:0;
               left: -20px;
               opacity: 0;
               background: #0d374f url(../img/blocks/durak/user-freeze.png) 50% 50% / 100% 100% no-repeat;
               transition: opacity .23s;
            }
            .is-freeze &::after{
               opacity: .8;
               z-index: 3;
            }
        }
    }

    &__btn-wrapper{
        margin-left: 2px;
        border-radius: 8px;
        position: relative;
        height: 60px;
        width: 100px;
        background: #0d374f url(../img/blocks/header/bg--account.png) 50% 50% / 100% 100% no-repeat;
        box-shadow: 0 0 8px rgba(black, .9);
        @media screen and (max-width: 980px) {
            height: 40px;
            width: 55px;
        }
        .gamer-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 27px;
            color: white;
            text-shadow: 0 0 2px black;
            text-transform: uppercase;
            background-color: transparent;
            border: none; 
            @media screen and (max-width: 980px) {
                font-size: 15px;
            }
        }
    }
    &__status{
        margin-left: 2px;
        border-radius: 8px;
        box-shadow: 0 0 8px rgba(black, .9);
        position: relative;
        height: 60px;
        width: 40px;
        background: #0d374f url(../img/blocks/header/bg--account.png) 50% 50% / 100% 100% no-repeat;
        @media screen and (max-width: 980px) {
            height: 40px;
            width: 30px;
        }
        &-bar{
            position: absolute;
            width: 24px;
            height: calc(100% - 16px);
            left: calc(50% - 12px);
            top: 8px;
            border: 2px solid white;
            box-shadow: 0 0 4px 1px rgba(black, .8), inset 0 0 4px 1px rgba(black, .8);
            background-color: #878e91;
            border-radius: 4px;
            @media screen and (max-width: 980px) {
                width: 16px;
                left: calc(50% - 8px);
            }
            span{
                position: absolute;
                width: 100%; 
                left: 0;
                bottom:0;
            }
        }
    }
}


.deck-game,
.center-field,
.gamer{
    position: absolute;
}
.deck-game{
    top: 17%;
    left: 30%;
}
.gamer__cards{
    display: block;
    width: 100%;
    height: 190px;
    position: relative;
}
.btn--white-v2{
    background: #fff;
    border: 1px solid #ccc;
    text-shadow: none;
    color: #666;
    box-shadow:0 5px 0 #818181, 0 3px 5px #818181;
    &::before{
       background: url(../img/blocks/btn/glare-btn--white.png) no-repeat;   
       background-size: 100% 100%;
       z-index: -1;
    }
}
.btn--white-v2:active,
.btn--white-v2:focus,
.btn--white-v2:hover {
    box-shadow: none;
    color: red;
    background-color: #fff;ground-color: #fff;
}
 
.games-list{
    @media screen and (max-width: 980px){
        min-width: 617px;
    }
    .yellow{
        color: #ffda2e !important;
    }
    .fw-bold{
        font-weight: 800;
        text-shadow: 1px 1px 2px rgba(0,0,0,.35);
    }
    &__header{
        display: flex;
        flex-flow: row nowrap;
        .part{
            flex: 1 1 auto;
            max-width: 100%;
            height: 45px;
            font-size: 16px;
            text-align: center;
            color: white;
            line-height: 45px;
            background:  50% 50% / 100% 100% no-repeat;
            &.part-dark{
                background: url(../img/blocks/header/bg--account.png) 50% 50% / 100% 100% no-repeat;
            }
            &.part-first{
                text-align: left;
                font-size: 27px;
                padding-left: 25px;
                padding-right: 15px;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                i{
                    background: url(../img/blocks/btn/star-active.png) 50% 50% / 100% 100% no-repeat;
                    width: 30px;
                    height: 30px;
                    display: block;
                    margin-left: auto;
                }
            }
            &.part-with-icon{
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                padding-left: 25px;
                padding-right: 15px;
                text-transform: uppercase;
                font-weight: 500;
                .icon-question{
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    border-radius: 50%;
                    background-color: #0d374f;
                    font-size: 20px;
                    font-weight: 900;
                    font-style: normal;
                    line-height: 25px;
                    text-align: center;
                    margin-right: 10px;

                }
                .text{
                    display: inline-block;
                    position: relative;
                    font-size: 15px;
                    padding-right: 30px;
                    line-height: 1.3;
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 1px;
                        background-color: #fff;
                        width: 100%;
                    }
                }
            }
            &.empty{
                @media screen and (max-width: 980px){
                    flex: 0 0 auto;
                }
            }
            &.part-last{
                font-size: 18px;
                padding-left: 25px;
            }
        }
    }
    &__inner{
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    }
    &__sort,
    &__footer{
        display: flex;
        flex-flow: row nowrap;
    }
    &__sort.--bottom{
        .games-list__btn{
            flex: 1 1 calc(25% - 2px);
            max-width: calc(25% - 2px);
        }
    }
    &__btn{
        flex: 1 1 auto;
        max-width: 100%;
        height: 35px;
        line-height: 1.3;
        font-size: 12px;
        text-align: center;
        color: white;
        
        border: none;
        border-radius: 4px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 8px;
        &:not(.darken):not(.bg-yellow){
            background: url(../img/blocks/btn/glare-btn--sort.png) 50% 50% / calc(100% - 1px) calc(100% - 5px) no-repeat,
            linear-gradient(to bottom, #2485b3 0%, #0670a1 100%);
            &.is-active{
                color: #ffda2e;
                background: url(../img/blocks/btn/glare-btn--sort.png) 50% 50% / calc(100% - 1px) calc(100% - 5px) no-repeat,
                url(../img/blocks/btn/glare-btn--sort-active.png) 50% 50% / calc(100% - 5px) calc(100% - 5px) no-repeat,
                #0d374f;
            }
        }
        &.darken{
            background: #0d374f url(../img/blocks/btn/glare-btn--sort.png) 50% 50% / calc(100% - 1px) calc(100% - 5px) no-repeat;
        }
        &.bg-yellow{
            color: #7c5f01;
            background: #ffda2c url(../img/blocks/btn/glare-btn--white.png) 50% 50% / calc(100% - 1px) calc(100% - 5px) no-repeat;
        }
&.check{
    i{
        display: inline-block;
        margin-right: 8px;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        background-color: #0d374f;
        vertical-align: middle;
        position: relative;
        &::after{
            content: '';
            opacity: 0;
        }
    
    }
    &.is-checked i::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border: 3px solid #ffda2c;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 5px rgba(0, 0, 0, .2);
        opacity: 1;
    }
}
    }
    &__table{
        width: calc(100% - 2px);
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
        padding: 10px;
        background-color: #f5f5f5;
        &-item{
            display: block;
            border-radius: 4px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            background-color: #fff;
            margin-bottom: 5px;
            padding: 4px;
            &__inner{
                text-decoration: none;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                padding: 4px;
                background-color: transparent;
                transition: background-color .23s ease;
                .selected &,
                &:hover{
background-color: #fff4b0;
                }
                
            }
            &-name ,
            &-block {
                flex: 1 1 calc(25% - 2px);
                max-width: calc(25% - 2px);
                line-height: 1.2;
            }
            &-name{
                font-size: 18px;
                font-family: "Solomon Sans";
                font-weight: 600;
                color: #333333;
                padding: 0 12px;
                @media screen and (max-width: 980px) {
                    font-size: 14px;
                }
            }
            &-block{
                font-family: 'Bebas Neue';
                font-weight: 700;
                font-size: 18px;
                color: #333333;
                text-align: center;
                height: 30px;
                border: 1px solid #cfcfcf;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 8px;
                background: url(../img/blocks/btn/glare-btn--white2.png) 50% 50% / calc(100% - 5px) calc(100% - 5px) no-repeat;
                .history__right-icon{
                    width: 24px;
                    margin-left: 8px;
                }
            }
        }
    }
    &__footer{
        background-color: #1c6d98;
        border-radius: 4px;
        @media screen and (max-width: 980px) {
            flex-wrap: wrap;
        }
        .games-list__btn{
            margin-bottom: 0;
            @media screen and (max-width: 980px){
                flex: 1 1 calc(25% - 2px);
                max-width: calc(25% - 2px);
            }
        }
    }
    .sort{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 5px;
        height: 1px;
        padding: 0;
        margin-left: 8px;
        &::before,
        &::after{
            content: '';
            position: absolute;
            border: 5px solid transparent;
            border-left-width: 4px;
            border-right-width: 4px;
            left: 0;
        }
        &::before{
            border-bottom-color: #7c5f01;
            top: -12px;
        }
        &::after{
            border-top-color: #7c5f01;
            bottom: -10px;
        }
    }
}


// @media screen and (orientation:portrait) and (max-device-width: 667px) {
//     html {
//         -webkit-transform: rotate(-90deg);
//         -moz-transform: rotate(-90deg);
//         -ms-transform: rotate(-90deg);
//         -o-transform: rotate(-90deg);
//         transform: rotate(-90deg);
//         -webkit-transform-origin: left top;
//         -moz-transform-origin: left top;
//         -ms-transform-origin: left top;
//         -o-transform-origin: left top;
//         transform-origin: left top;
//         width: 667px;
//         /*Разрешение экрана iPhone*/
//         position: absolute;
//         top: 100%;
//         left: 0
//     }
// }


/*modal*/
.custom-center {
    text-align: center;
    
}
.custom-modal-title {
    font-size: calc(1.625rem + (36 - 26) * ((100vw - 64rem) / (1440 - 1024)));
    font-weight: 700;
    font-family: "Solomon Sans";
    @media screen and (min-width: 1440px){
        font-size: 36px;
    }
    @media screen and (max-width: 1023px){
        font-size: 26px;
    }
}
.tour-form{
    text-align: left;
    font-size: 12px;
    font-family: "open sans";
    font-weight: 700;
    &__row{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 10px;
    }
    &__col4{
        flex: 1 1 calc(33.33333% - 10px);
        max-width: calc(33.33333% - 10px);
        &+.tour-form__col4,
        &+.tour-form__col8{
            margin-left: 10px;
        }
    }
    &__col8{
        flex: 1 1 calc(66.66666% - 10px);
        max-width: calc(66.66666% - 10px);
    }
    .inp{
        display: block;
        width: calc(100% - 5px);
        margin-right: 0;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #ccc;
        padding-left: 20px;
        color: #000;
        font-family: "Open Sans";
    }
    .jq-selectbox {
        position: relative;
        display: inline-block;
        width: 100%;
        z-index: 10;
        font-size: 12px;
        color: #333;
        font-weight: 700;
        height: 40px;
        background: #fff;
        background-size: 8px auto;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0 0 0 20px;
        
        &__select {
            position: relative;
            height: 40px;
            line-height: 40px;
        }
        &__dropdown {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            background: #fff;
            border-radius: 3px;
            box-shadow: 0 0 5px rgba(0, 0, 0, .3);
            ul{
                overflow: auto;
                list-style: none;
                position: relative;
                overflow-x: hidden;
                padding: 0;
                margin: 0;
                li{
                    display: block;
                    padding: 10px 20px;
                    transition: all .2s ease-in-out;
                    background: 0 0;
                    color: #333;
                    cursor: pointer;
                    &:hover{
                        background: #333;
                        color: #fff;
                    }
                }
            }
        }
        &__trigger{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 25px;
            &-arrow{
                position: absolute;
                top: 50%;
                right: 50%;
                -webkit-transform: translate3d(50%, -50%, 0);
                transform: translate3d(50%, -50%, 0);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 4px 0;
                border-color: #333 transparent transparent;
            }

        }
        &__select-text {
            overflow: hidden;
            user-select: none;
            white-space: nowrap;
            text-overflow: ellipsis
        }
        li{
            user-select: none;
            white-space: nowrap
        }
        select{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            opacity: 0;

        }
    }
    
    .label-checkbox{
        padding-left: 40px;
        span {
            vertical-align: middle;
            display: inline-block;
        }
    }
    .psevdocheckbox {
        vertical-align: middle;
        display: inline-block;
        margin-left: -45px;
        width: 25px;
        height: 25px;
        border-radius: 3px;
        border: 1px solid #ccc;
        position: relative;
        margin-right: 20px;
        &::after{
            position: absolute;
            content: "";
            left: 3px;
            top: 3px;
            right: 3px;
            bottom: 3px;
            border-radius: 2px;
            background: 0 0;
            transition: all .2s ease-in-out;
        }
    }
    .checked+.psevdocheckbox::after {
        background: #ccc
    }
}