<div class="custom-center">
    <div class="custom-modal-md" style="min-width: 500px;">
        <p class='custom-modal-title'>
            Открыть новый стол
        </p>
        <div class="tour-form">
            <div class="tour-form__row">
                <span class="tour-form__name tour-form__col4">Ставка</span>
                <div class="tour-form__select tour-form__col4">
                    <select name="" class="js--styler">
                        <option selected value>Рейтинг</option>
                        <option value="">Голд</option>
                    </select>
                </div>
                <div class="tour-form__select tour-form__col4">
                    <select name="" class="js--styler">
                        <option selected value>От 1000</option>
                        <option value="">1000 Голд</option>
                    </select>
                </div>
            </div>
            <div class="tour-form__row">
                <span class="tour-form__name tour-form__col4">Скорость игры</span>
                <div class="tour-form__select tour-form__col8">
                    <select name="" class="js--styler">
                        <option selected value>Рейтинг</option>
                        <option value="">Голд</option>
                    </select>
                </div>

            </div>
            <div class="tour-form__row">
                <span class="tour-form__name tour-form__col4">Количество игроков</span>
                <div class="tour-form__select tour-form__col8">
                    <select name="" class="js--styler">
                        <option selected value>Рейтинг</option>
                        <option value="">Голд</option>
                    </select>
                </div>

            </div>
            <div class="tour-form__row">
                <div class="tour-form__col4">
                    <label class="label-checkbox">
                        <input class='js--styler' type="checkbox" name="">
                        <div class="psevdocheckbox"></div><span>Приватная игра</span>
                    </label>
                </div>
                <div class="tour-form__col8">
                    <input class='inp' type="text" name="" placeholder="Пароль">
                </div>
            </div>

            <button style="max-width: 270px; margin: 40px auto 0;" title="" class="btn btn--block btn--big">Открыть</button>

        </div>
    </div>


</div>

<script>
    $('.js--styler').styler();
</script>