<div class="custom-center">
    <p class='custom-modal-title'>
Для вашего комфорта, устройство<br>
переключится на ландшафтный режим<br>
просмотра.
    </p>
<button style="max-width: 270px; margin: auto;" data-fancybox-close title="" class="btn btn--block btn--big">Продолжить</button>
</div>
